<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by kushagra and weather forecasting is used in it.</p>

        <img class="portrait" src="./img/Screenshot 2023-08-25 at 9.51.37 PM copy.png" alt="there is an image">
        <p>created by: {{name}}</p>
    </div>
    
    {{>footer}}
</body>
</html>